<!--OWASP A03:2021 – Injection - https://owasp.org/Top10/A03_2021-Injection/
INSECURE - using raw helper tag when printing comment text makes the app vulnerable to
XSS (Cross Site Scripting) attacks-->
<tr>
  <td><%= raw link_to course_module.title, course_module %></td>
  <td><%= raw course_module.code %></td>
  <td><%= raw course_module.course %></td>
  <td><%= raw course_module.year %></td>
  <td><%= raw course_module.mode %></td>
  <td><%= raw course_module.level %></td>
  <td><%= raw course_module.lecturer %></td>
  <td><%= raw course_module.description %></td>
  <td><%= raw course_module.department %></td>
</tr>