<!--comment show page template-->
<p style="color: green"><%= notice %></p>

<!--render course_module partial template-->
<%= render @course_module %>

<!--course_module edit and delete page links-->
<div>
  <%= link_to "Edit Course Module", edit_course_module_path(@course_module) %> |
  <%= button_to "Delete Course Module", @course_module, method: :delete %>
</div>

<!--back to course modules page link-->
<div>
  <%= link_to "Back to Course Module", course_modules_path %>
</div>

<!--comments section-->
<p>
  <strong>Comments</strong>
  <!--print course_module comments using comments partial-->
  <%= render @course_module.comments %>
  <!--display new comments form using comments form partial-->
  <%= render partial: 'comments/form', locals: { course_module: @course_module }  %>
</p>
