<h1 class="m-3">User ID <%= @user.id %></h1>
<h4>(<%= @user.email %>)</h4>

<!--OWASP A03:2021 – Injection - https://owasp.org/Top10/A03_2021-Injection/
INSECURE - using raw helper tag makes the app vulnerable to XSS (Cross Site Scripting) attacks-->
<table class="table table-hover table-striped">
    <%= render :partial => 'users/table_headers' %>
  <tbody>
    <%= render @user %>
  </tbody>
</table>

<!--OWASP A03:2021 – Injection - https://owasp.org/Top10/A03_2021-Injection/
SECURE - removing raw helper tag makes the app less vulnerable to XSS (Cross Site Scripting) attacks-->
<%#= @user.first_name %>
<%#= @user.last_name %>

<!--OWASP A01:2021 – Broken Access Control - https://owasp.org/Top10/A01_2021-Broken_Access_Control/
INSECURE - Edit my details button displays for all users-->
<%= link_to 'Edit My Details', edit_user_path(@user.id), class: 'btn btn-primary' %>

<!--# OWASP A01:2021 – Broken Access Control - https://owasp.org/Top10/A01_2021-Broken_Access_Control/
# SECURE - Edit my details button only displays for current user if it is their user details page-->
<%# if current_user.id == @user.id %>
  <%#= link_to 'Edit My Details', edit_user_path(current_user), class: 'btn btn-primary' %>
<%# end %>