<!--navbar start-->
<nav role="navigation">
  <div class="inner">
    <ul class="nav" id="nav">
      <li><%= link_to "Home", root_path %></li>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
      <li><%= link_to "Users", users_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "My Account", user_path(current_user) %></li>
      <% end %>
    </ul>
  </div>
  <form action="/search">
    <input type="text" name="q" placeholder="Search for students" aria-label="Search for students">
    <button type="submit">Search</button>
  </form>
</nav>
<!--navbar end-->